/* Add application styles & imports to this file! */
.tabs__titles {
  flex: 1 1 0;
  flex-direction: row;
  margin-bottom: 10px;
}
.tabs__title {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.tab._active  .tab__title  {
  border-bottom: 2px solid #ff2222;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.tabs {
  display: flex;
  flex-direction: row;
}